training/MKA datasets/
training/__pycache__/
.venv-raspi/
raspi/output
victim/output
data-manipulation/MKA datasets
data-manipulation/supp/
data-manipulation/supp_dataset/
data-manipulation/mka_dataset/
data-collection/output-meta
data-collection/output-audio